{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'invoice'|trans }} {% endblock %}


{% block body %}

    <div class="container">
        <!-- Fonction pluralize pour mettre au pluriel/singulier -->
        <h1 class="text-center text-muted">{{ pluralize(invoice|length,'Invoice','Invoices') }}</h1>

        {% if invoice|length > 0 %}
            <div data-aos="fade-zoom-in"
                 data-aos-easing="ease-in-back"
                 data-aos-delay="300"
                 data-aos-offset="0" class="col-12 mx-auto">

                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">{{ 'List Invoice'|trans }}</span>
                </h4>

            </div>

            {% for invoice in invoice %}
                <!-- URL INVOICE -->
                <ul data-aos="fade-left" class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">{{ invoice.name }} </h6>
                            <small class="text-muted">generate at
                                <time datetime="{{ invoice.createdAt|date('Y-m-d H:i:s') }}"> {{ invoice.createdAt|date }}</time>
                            </small>
                        </div>
                        <span>
                            <a class="text-muted" href="{{ invoice.urlPdf }}"><i class="zoom far fa-file-alt"></i></a>

                            <!-- LINK BUTTON FOR DELETE -->
                            <a href="#" onclick="event.preventDefault(); confirm({{ 'Are you sure ?'|trans }}) && document.getElementById('js-invoice-delete-form').submit();" class="btn btn-light">{{ 'invoice'|trans }} </a>
                            <!-- END LINK BUTTON FOR DELETE -->

                        </span>


                    </li>
                </ul>
                <!-- END URL INVOICE -->

                <form id="js-invoice-delete-form{{ invoice.id }}"
                      action="{{ path('app_invoice_delete', {id: invoice.id}) }}"
                      method="post"
                      style="display:none">

                    <!-- insertion d'un token  dans la method DELETE-->
                    <input type="hidden" name="csrf_token_invoice_delete"
                           value="{{ csrf_token('invoice_deletion_' ~ invoice.id) }}">

                    <input type="hidden" name="_method" value="DELETE">
                    <!--  <input type="submit" value="Delete"> -->
                </form>

            {% endfor %}
        {% else %}

            <div data-aos="fade-zoom-in"
                 data-aos-easing="ease-in-back"
                 data-aos-delay="300"
                 data-aos-offset="0" class="row">
                <div class="col-md-6 mx-auto">

                    <div class="my-5 text-center">

                        <h1> {{ app.user.slug }}</h1>
                        <p class="text-muted">{{ "You don't have any bills"|trans }} </p>

                    </div>
                </div>

            </div>
        {% endif %}

    </div>
{% endblock %}


