{% extends 'layouts/base.html.twig' %}

{% block title %}{{ 'Password Reset Email Sent'|trans }}{% endblock %}

{% block body %}
    <p>{{ 'An email has been sent that contains a link that you canclick to reset your password. This link will expire in'|trans }} {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>{{ 'If you don t receive an email please check your spam folder or'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try again'|trans }}</a>.</p>
{% endblock %}
