{% extends 'layouts/base.html.twig' %}

{% block title %}Hello PicturesController!{% endblock %}

{% block body %}

    {% if pictures|length > 0 %}

        <!-- Fonction pluralize pour mettre au pluriel/singulier -->
        <h1 class="text-center text-muted">{{ pluralize(pictures|length,'Picture','Pictures') }}</h1>

        {% for row in pictures|batch(3) %}
            <div class="row mb-5">
                {% for picture in row %}
                    <div class="col-md-4">

                        <!-- PICTURE DIV-->
                        <div class="picture bg-white rounded shadow">
                            <div class="mw-100 rounded-top overflow-hidden">
                                <a href="{{ path('app_picture_show' , {id: picture.id}) }}">
                                    <img src="{{ ( picture.imageName ? vich_uploader_asset(picture) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbail_medium') }}"
                                         alt="{{ picture.title }}" class="w-100 rounded-top"/></a>
                            </div>

                            <h2 class="h5 text-muted pl-3 pt-3"><a
                                        href="{{ path('app_picture_show' , {id: picture.id}) }}"
                                        class="text-muted text-decoration-none text-secondary">{{ picture.title }}</a>
                            </h2>
                            <!-- condition limit chaine de caratere |u.truncate(10,'...')-->

                            <!-- <p>Submitted {{ picture.createdAt|ago }}</p> -->

                            <p class="h5 text-muted pl-3 pt-3">{{ picture.description|u.truncate(9,'...', true) }}</p>

                            <p class="text-muted pl-3 pb-3">
                                <small>Submitted by {{ picture.user.fullName }}</small>
                            </p>


                        </div>
                        <!-- END PICTURE DIV-->


                    </div>
                {% endfor %}
            </div>

        {% endfor %}
    {% else %}
        <p class="h1 mt-5 text-center">No Pictures yet. <a href="{{ 'app_create_pictures' }}">Be the first !</a></p>
    {% endif %}



    <div class="style_page">
        {{ knp_pagination_render(pictures) }}
    </div>



{% endblock %}
