{% extends 'layouts/base.html.twig' %}

{% block title %}Hello PicturesController!{% endblock %}

{% block body %}

    {% include 'pictures/_filter.html.twig' %}

    {% if pictures|length > 0 %}

        <!-- Fonction pluralize pour mettre au pluriel/singulier -->
        <h1 class="text-center text-muted">{{ pluralize(pictures|length,'Picture','Pictures') }}</h1>

        {% for row in pictures|batch(3) %}
            <div class="row mb-5">
                {% for picture in row %}
                    <div class="col-md-4">
                        <!-- PICTURE DIV-------------------------------------->

                        <div class="picture bg-white rounded shadow ">
                            <div class="mw-100 rounded-top overflow-hidden ">
                                <a class="centered position-relative"
                                   href="{{ path('app_picture_show' , {id: picture.id}) }}">
                                    <img style="width:100%;"
                                         src="{{ ( picture.imageName ? vich_uploader_asset(picture) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbail_medium') }}"
                                         alt="{{ picture.title }}" class="w-100 rounded-top"/>
                                </a>
                            </div>

                            <h2 class="h5 text-muted pl-3 pt-3"><a
                                        href="{{ path('app_picture_show' , {id: picture.id}) }}"
                                        class="text-muted text-decoration-none text-secondary">{{ picture.title }}</a>
                            </h2>


                            <p class="text-muted pl-3 pb-3">
                                <small>by {{ picture.user.slug }}</small>
                            </p>

                            <!-- COUNT COMMENTS LIKES  -->
                            <div class="pl-3 pb-3 centered">
                                <span class="js-comments text-muted">{{ picture.likes | length }} <i
                                            class="far fa-thumbs-up"></i></span>
                                <span class="js-comments text-muted">{{ picture.comments | length }} <i
                                            class="far fa-comment"></i></span>
                            </div>
                            <!-- END COUNT COMMENTS LIKES  -->

                        </div>
                        <!-- END PICTURE DIV-------------------------------------->

                    </div>
                    <!-- END PICTURE DIV-->
                {% endfor %}
            </div>


        {% endfor %}
    {% else %}
        <p class="h1 mt-5 text-center">No Pictures yet. <a href="{{ path('app_picture_create') }}">Be the first !</a>
        </p>
    {% endif %}



{% endblock %}
