{% extends 'layouts/base.html.twig' %}

{% block title %}Hello PicturesController!{% endblock %}

{% block body %}

    <h1>Page pictures</h1>
    <!-- Fonction pluralize pour mettre au pluriel/singulier -->
    <h2>{{ pluralize(pictures|length,'Picture','Pictures') }}</h2>
    {% for picture in pictures %}

        <div>
            <h2><a href="{{ path('app_picture_show' , {id: picture.id}) }}">{{ picture.title }}</a></h2>
            <!-- condition limit chaine de caratere |u.truncate(10,'...')-->
            <p>{{ picture.description|u.truncate(9,'...', false) }}</p>
            <p>Submitted {{ picture.createdAt|ago }}</p>
        </div>

    {% endfor %}
{% endblock %}
