{% extends 'layouts/base.html.twig' %}

{% block title picture.title %}

{% block body %}
    <!-- DIV ROW-->
    <div class="row">

        <!-- DIV COL-->
        <div class="col-md-6 mx-auto">

            <!-- CONTENT PICTURE DIV-->
            <div class="picture bg-white rounded shadow">
                <div class="mw-100 rounded-top overflow-hidden">

                    <img src="{{ ( picture.imageName ? vich_uploader_asset(picture) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbail_medium') }}"
                         alt="{{ picture.title }}" class="w-100"/>
                </div>
                <div class="pl-3 pt-3 pr-3 pb-3">
                    <h1 class="h5 text-muted text-decoration-none text-secondary">{{ picture.title }}
                    </h1>
                    <!-- condition limit chaine de caratere |u.truncate(10,'...')-->

                    <!-- TITLE -->
                    <p class="text-muted">
                        <small>Submitted
                            <time datetime="{{ picture.createdAt|date('Y-m-d H:i:s') }}"> {{ picture.createdAt|ago }}</time>
                            by {{ picture.user.fullName }}
                        </small>
                    </p>
                    <!-- END TITLE -->
                    <!-- DESCRIPTION -->
                    <p class="text-muted text-break">{{ picture.description|u.truncate(9,'...', false) }}</p>
                    <!-- END DESCRIPTION -->
            </div>
            <!-- END CONTENT PICTURE DIV-->
        </div>
        <!-- END DIV COL-->
    </div>
    <!-- END DIV ROW-->

{% endblock %}