{% extends 'layouts/base.html.twig' %}


   {% block title 'profil ' %}
{% block body %}

    <div class="row bg-light">
        <div class="col-md-6 mx-auto text-center">

            <h1 class="my-5 "> Profile</h1>
            <img src="{{ ( user.imageName ? vich_uploader_asset(user) : asset('build/images/empty.jpg')) | imagine_filter('squared_thumbail_large') }}"
                 alt="{{ user.fullName }}" class="w-25 shadow rounded-circle"/>
            <p class="pt-5 lead">{{ user.email }}</p>
            {% if user.isVerified == false %}
                <p>Account Verified : No </p>
                <p class="text-muted">Confirme your <a href="{{ path('app_resend_email') }}">Account</a>
                </p>
            {% else %}
                <p>Account Verified : Yes </p>
            {% endif %}
            <p>Account Created :
                <time datetime="{{ user.createdAt|date('Y-m-d H:i:s') }}">
                    <small>{{ user.createdAt|ago }} </small>
                </time>
            </p>
            <h2> {{ user.fullName }}</h2>
            <p>
                {% if user.id == app.user.id %}
                    <a href="{{ path('app_profil_edit',{'slug': user.slug}) }}" class="btn btn-light text-muted">Edit
                        Profil</a>
                    <a href="{{ path('app_profil_change_password',{'slug': user.slug}) }}"
                       class="btn btn-light text-muted">Change password</a>
                {% endif %}
            </p>
        </div>
    </div>


    {{ include('profil/_pictures_user.html.twig') }}



{% endblock %}


