<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_pictures_index') }}">PicBak</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="pl-lg-5 form-inline my-2 my-md-0 align-content-center">
            <!-- <input class="form-control" type="text" placeholder="Search"> -->

        </form>


        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_subscriber_index') }}">PicBak Plus</a>
                </li>

                <li class="nav-item">
                    <a class=" nav-link" href="{{ path('app_pictures_index') }}"><i class="zoom fas fa-home"></i></a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_picture_create') }}"><i
                                    class="zoom fas fa-plus-circle"></i></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="dropdown03" data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false"><i class="zoom fas fa-user"></i></a>


                        <div class="dropdown-menu" aria-labelledby="dropdown03">
                            {% if is_granted('ROLE_ADMIN') == true %}
                                <a class="dropdown-item" href="{{ path('app_admin') }}">Administrator</a>
                                <a href="{{ path('app_pictures_index', {_switch_user: '_exit'}) }}">Exit impersonation</a>

                            {% endif %}
                            <a class="dropdown-item" href="{{ path('app_profil_show', {'slug': app.user.slug}) }}">Profil</a>
                            <a class="dropdown-item" href="#" onclick="event.preventDefault();
                       document.getElementById('js-logout-form').submit();">Logout</a>

                            <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST"
                                  style="display:none">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                            </form>
                        </div>
                    </li>


                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                {% endif %}


            </ul>
        </div>
    </div>

</nav>


