{% extends 'layouts/base.html.twig' %}

{% block title %} {{ 'Subscription'|trans }} {% endblock %}

{% block body %}

    <div  data-aos="zoom-in" class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="card-title">{{ 'Subscription'|trans }}</h1>
        </div>

        <div class=" row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col-md-6 mx-auto">
                <div class="card mb-4 shadow-sm">
                    <div class="">
                        <h4 class="card-header fw-normal">PicBak Plus</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-text">{{ '3€'|trans }}
                            <small class="text-muted">{{ '/ Week'|trans }}</small>
                        </h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li class="text-bold">{{ 'Advanced Filter'|trans }}</li>
                        </ul>
                        <button id="checkout-button" class="w-100 btn btn btn-outline-info">{{ 'Get Started'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>


{% endblock %}