{% extends 'layouts/base.html.twig' %}

{% block title "PicBak Plus status" %}

{% block body %}




    <div class="row">
        <div class="col-md-6 mx-auto">

            <div class="my-5 text-center">

                <p> {{ app.user.fullName }}</p>

                <h1>PicBak Plus </h1>

                <p>Status: <span class="text-muted">{{ subscription.status }}</span></p>

                {% if subscription.status == "active" %}
                    <p>Subscription purchase date:<span
                                class="text-muted"> {{ subscription.current_period_start|date('Y-m-d H:i:s') }} </span>
                    </p>
                    <p>End of subscription period:<span
                                class="text-muted"> {{ subscription.current_period_end|date('Y-m-d H:i:s') }} </span>
                    </p>
                {% endif %}

            </div>
            {% if subscription.current_period_end == true %}
                <p class="mt-5 mb-3 text-center text-muted">The subscription will end at the end of the programmed period.</p>
            {% else %}
                <p class="mt-5 mb-3 text-center text-muted"><a href="{{ path('app_subscription_cancel') }}">Canceled</a>
                    subscription</p>
            {% endif %}
        </div>
    </div>
{% endblock %}